@import '@/common/colors';

.card {
    margin-bottom: 50px;

    .title {
        font-size: 24px;
    }
    
    .info {
        color: $dark-gray;
        font-size: 12px;

        span {
            &:nth-child(even) {
                padding: 0 10px;
            }
        }
    }
}