@import '@/common/colors';

.commentBlock {
    padding: 15px;
    border-bottom: 1px solid $gray;
    line-height: 25px;

    .childComment {
        height: 50px;
        margin-left: 30px;
        background: black;
    }

    .commentText code, p, a {
        white-space: normal;
        word-break: break-all;
    }   

    .authorInfo {
        color: $dark-gray;
        font-size: 14px;

        .authorName {
            margin-right: 10px;
        }
    }
}