@import '@/common/colors';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

li {
    list-style: none;
}

a {
    color: $blue;
    text-decoration: none;
    transition: .3s;
    
    &:hover, &:focus {
        filter: brightness(0.9);
    }
}

button {
    border: none;
    background: transparent;
}

:global(.container) {
    width: 80%;
    margin: 0 auto;
}

@media all and (max-width: 576px) {
    :global(.container) {
        width: 100%;
    }
}